{
    "baseUrl": "BASE_URL",
    "username": "USERNAME",
    "password": "PASSWORD",
    "userEmail": "USER_EMAIL",
    "userFirstName": "USER_FIRST_NAME",
    "userLastName": "USER_LAST_NAME",
    "cropName": "CROP_NAME",
    "existingProgramName": "PROGRAM_NAME",
    "existingStudyName": "STUDY_NAME",
    "bmsVersion" : "BMS_VERSION"
}
