{
    "baseUrl": "BASE_URL",
    "username": "USERNAME",
    "password": "PASSWORD",
    "userEmail": "USER_EMAIL",
    "cropName": "CROP_NAME",
    "existingProgramName": "PROGRAM_NAME",
    "existingStudyName": "STUDY_NAME",
    "bmsVersion" : "BMS_VERSION",
    "db": {
        "host": "HOST",
        "user": "USER",
        "password": "PASSWORD",
        "port":"PORT"
    }
}
