{
    "baseUrl": "BASE_URL",
    "username": "USERNAME",
    "password": "PASSWORD",
    "cropName": "CROP_NAME",
    "existingProgramName": "PROGRAM_NAME",
    "existingStudyName": "STUDY_NAME",
    "bmsVersion" : "BMS_VERSION"
}
